*.a
*.so
*.ko
*.elf
*.bin
*.exe
*.out

*.d
*.i
*.s
*.lst
*.cmd
*.tmp
*.mod
*.mod.c
*.order
*.symvers
*.markers

vmlinux*
System.map
modules.order
Module.symvers
Module.markers
linux/usr/initramfs_data.cpio*
linux/usr/initramfs_data.o

*.su
*.c.[0-9]*
*.ll

*~
*.swp
*.swo
*.bak
*.orig
\#*\#
.\#*

*.orig
*.rej
*.patch

*.log
*.cache
*.lock
*.pid
*.dump
*.core

build/
out/
bin/
Debug/
Release/
__pycache__/
*.egg-info/

.vscode/
.idea/
*.user
*.workspace
*.project
*.cproject
*.settings/

*.tar
*.tar.gz
*.tgz
*.zip
*.7z


